:root{
  --kursiv-text: 'Bickham Script One';
  --main-font: 'Montserrat';
  --background-color:  #FCFCFC;
  --kursiv-color: #1A3A2B;
  --button-color: #B4B4B4;
  --bg-color: #FCFCFC;
  --color-text: #000;
  --timer-font: 'GentiumPlus';
}